.po-relative {
    position: relative;
}

.po-absolute {
    position: absolute;
}

.text-white {
    color: #ffffff;
}

.text-gray {
    color: #b8c7ce;
}

.padding-0 {
    padding: 0px;
}

.padding-0-15 {
    padding: 0px 15px;
}

.padding-5 {
    padding: 5px;
}

.padding-5-10 {
    padding: 5px 10px;
}

.padding-10 {
    padding: 10px;
}
.padding-10-15 {
    padding: 10px 15px;
}
.padding-15 {
    padding: 15px;
}
.padding-20-0 {
    padding: 20px 0px;
}

.margin-20-0 {
    margin: 20px 0px;
}





.margin-0 {
    margin: 0px;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-10-0 {
    margin: 10px 0px;
}

.margin-0-0-20-0 {
    margin: 0px 0px 20px 0px;
}

.margin-15 {
    margin: 15px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.width-full {
    width: 100%;
}

.dis-inline-block {
    display: inline-block;
}



.bg-white {
    background: #ffffff;
}

.bg-red {
    background: #DD4B39;
}

.bg-eee {
    background: #eeeeee;
}
.border-eee {
    border: 1px solid #eeeeee;
}

.border-ccc {
    border: 1px solid #cccccc;
}

.border-radius-3px {
    border-radius: 3px;
}

.hover-white:hover {
    text-decoration: none;
    color: #333333;
}
.border-white-radius-3px {
    border: 1px solid #ffffff;
    border-radius: 3px;
}

.button-none-bg {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 5px 10px;
}

.button-none-bg:hover {
    border: 1px solid #bababa;
    border-radius: 3px;
    text-decoration: none;
}

.left-body::-webkit-scrollbar {
    width: 8px;
}

.left-body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #919191;
}

/*----------------------------------------------------------------------------------------------------------------logo*/
.width-230px {
    width: 230px;
}

.logo {
    background: #357CA5;
}

.logo h3 {
    font-size: 20px;
    color: #ffffff;
    padding: 14px;
}

.logo a:hover {
    text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------main-static-menu*/
.left-bar {
    z-index: 2;
}

.main-static-menu {
    padding-left: 230px;
    background: #3C8DBC;
    height: 50px;
}

.border-general {
    width: 280px;
    top: 48px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: none;
}

.mail-menu, .notification-menu, .task-menu, .user-menu, .setting-menu {
    margin-left: -4px;
}

.main-menu-icon {
    color: #ffffff;
    padding: 17px 15px;
}

.main-menu-icon:hover {
    text-decoration: none;
    background: #204a9f;
    color: #ffffff;
}

.main-menu-icon i {
    padding-top: 18px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++main-static-menu-user*/
.user-dropdown-menu {
    border: 0px;
    left: 608px;
}

.user-menu-img img {
    width: 25px;
    border-radius: 50%;
}

.user-menu-img span {
    font-size: 13px;
    padding-left: 10px;
}

.user-header {
    border: 1px solid #ffffff;
    border-bottom: 0px;
    background: #3C8DBC;
}

.user-header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #63A4C9;
}

.user-header h5 {
    color: #CED1D4;
    font-size: 15px;
    margin: 15px auto 0px auto;
}

.user-header h6 {
    color: #CED1D4;
    font-size: 12px;
    margin: 5px auto 15px auto;
}

.list-style-type-none li {
    list-style-type: none;
}

.user-body li, .user-footer li {
    color: #333333;
}

.user-body a, .user-footer a {
    list-style-type: none;
    color: #333333;
}

.user-body li {
    display: inline-block;
    padding: 15px 22px;
}

.user-footer {
    background: #F9F9F9;
}

.user-footer li {
    display: inline-block;
    padding: 20px 10px;
}

.user-footer a {
    border: 1px solid #cccccc;
    background: #eee;
    padding: 8px 10px;
}

.margin-left-98px {
    margin-left: 98px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++main-static-menu-general*/

.dropdown-general p {
    padding: 10px;
}

.header-general p {
    border-bottom: 1px solid #eeeeee;
    font-size: 13px;
    padding: 8px 10px;
}

.body-general {
    margin-top: -10px;
}

.body-general ul {
    overflow-x: hidden;
    height: 200px;
}

.body-general li {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 10px;
}

.body-general li:hover {
    background: #eeeeee;
}

.body-general h5 {
    margin: 0px;
}

.body-general li a {
    color: #333333;
}

.body-general li a:hover {
    text-decoration: none;
}

.footer-general a {
    color: #333333;
    font-size: 12px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++main-static-menu-task*/
.general-dropdown-menu {
    left: -235px;
}

.bar-x {
    height: 8px;
    background: #2aabd2;
    margin-top: 10px;
}

.bar-100 {
    height: 8px;
    background: #eeeeee;
    margin-top: 10px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++main-static-menu-notification*/
.notification-body i {
    color: #1601ff;
}

.notification-body span {
    margin-left: 10px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++main-static-menu-mail*/
.mail-menu .body-general img {
    width: 100%;
    border-radius: 50%;
}

.mail-menu .body-general p {
    font-size: 11px;
    margin: 5px 0px;
    color: #666666;
}

.mail-menu .body-general i {
    color: #666666;
    font-size: 10px;
    margin-right: 15px;
}

/*------------------------------------------------------------------------------------------------------------left-bar*/
.left-bar {
    width: 230px;
    position: absolute;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++left-bar-user*/
.bar-user-img {
    margin-left: 15px
}

.bar-user-img img {
    width: 100%;
    border-radius: 50%;
}

.bar-user-information h5 {
    margin: 15px 0px 5px 0px;
}

.bar-user-information i, .bar-user-information span {
    padding-right: 5px;
    font-size: 12px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++left-bar-search*/
.bar-search input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    padding: 9px;
    color: #ffffff;
    background: #374850;
    width: 100%;
}

.bar-search input::placeholder {
    color: #cccccc;
}

.bar-search span {
    background: #374850;
    border: none;
    color: #cccccc;
    padding-right: 15px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++left-bar-option-title*/
.bar-option-title {
    background: #1A2226;
    font-size: 11px;
    color: #cccccc;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++left-bar-option-general*/
.bar-option-general:hover {
    background: #1E282C;
}

.bar-option-general a:hover {
    color: #ffffff;
}

.bar-option-general a:focus {
    color: #ffffff;
}

.bar-dropdown-menu-general {
    background: #2C3B41;
    border-radius: 0px;
    width: 230px;
}

.bar-dropdown-menu-general ul li {
    padding: 5px 10px;
}

.bar-dropdown-menu-general ul li a {
    color: #b8c7ce;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++left-bar-option-dashboard*/
.bar-option-dashboard {
    margin-top: -10px;
}

/*----------------------------------------------------------------------------------------------------------------body*/
.body-full {
    background: #222D32;
    padding-left: 230px;
    width: 100%;
    z-index: 1;
}

.body {
    background: #ECF0F5;
    border-bottom: 1px solid #ccc;
}

/*----------------------------------------------------------------------------------------------------------body-title*/
.body-title h3 {
    font-size: 22px;
    margin: 20px 0px 0px 0px
}

.body-title span {
    font-size: 14px;
    color: rgba(161, 40, 116, 0.54);
}

.body-title-right {
    margin-top: 25px;
}

.body-title-right a {
    color: #333333;
    font-size: 12px;

}

.body-title-right span {
    font-size: 12px;
}

.home-daskboard {
    background: #c4d6f5;
    margin: 10px 0px 0px 0px !important;
}

/*----------------------------------------------------------------------------------------body-new-special-information*/
.information-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.information-top h5 {
    font-size: 38px;
    color: #ffffff;
    font-weight: 700;
}

.information-top h6 {
    font-size: 13px;
    color: #ffffff;
}

.information-top i {
    font-size: 60px;
}

.more-information {
    background: #00afef;
    padding: 4px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.more-information a {
    color: #e6eaff;
}

.more-information a:hover {
    color: #fff;
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------body-new-order*/
.new-order {
    background: #00C0EF;
}

.new-order i {
    color: #00A3CB;
}

.more-information-new-order {
    background: #00afef;
}

.more-information-new-order:hover {
    background: #00A3CB;
}

/*----------------------------------------------------------------------------------------------------body-bounce-rate*/
.bounce-rate {
    background: #00A65A;
}

.bounce-rate i {
    color: #008D4D;
}

.more-information-bounce-rate {
    background: #5b8e52;
}

.more-information-bounce-rate:hover {
    background: #008D4D;
}

/*----------------------------------------------------------------------------------------------body-user-registration*/
.user-registration {
    background: #F39C12;
}

.user-registration i {
    color: #CF850F;
}

.more-information-user-registration {
    background: #cf9127;
}

.more-information-user-registration:hover {
    background: #CF850F;
}

/*-------------------------------------------------------------------------------------------------body-unique-visitor*/
.unique-visitor {
    background: #DD4B39;
}

.unique-visitor i {
    color: #BC4031;
}

.more-information-unique-visitor {
    background: #bc4940;
}

.more-information-unique-visitor:hover {
    background: #BC4031;
}

/*---------------------------------------------------------------------------------------------------------detail-left*/
.detail {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.left-title i {
    padding: 10px;
    font-size: 20px;
}

.left-body {
    overflow-x: hidden;
    height: 200px;
    border-bottom: 1px solid #eeeeee;
}

/*---------------------------------------------------------------------------------------------------detail-left-sales*/
.detail-sale {
    border-top: 2px solid #985f0d;
}

.tools-sale a {
    color: #333333;
}

/*----------------------------------------------------------------------------------------------------detail-left-chat*/
.detail-chat {
    border-top: 2px solid #00A65A;
}

.tools-chat a {
    color: #e00006;
}

.tools-chat a:hover {
    background: #cccccc;
    color: #e00006;
}

.chat-avatar {
    margin-left: 10px;
    position: absolute;
    width: 50px;
    float: left;
}

.chat-avatar img {
    border-radius: 50%;
    border: 2px solid #74a83b;
    width: 40px;
}

.chat-comment {
    margin-left: 50px;
    margin-top: -5px;
}

.chat-comment a:hover {
    text-decoration: none;
}

.chat-comment h4 {
    font-size: 13px;
}

.chat-comment h5 {
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0px;
}

.chat-comment h6 {
    margin-right: 10px;
}

.chat-clipboard {
    background: #ECF0F5;
    margin: 0px 10px 10px 60px;
    border-radius: 3px;
}

.chat-clipboard a {
    color: #ffffff;
    font-size: 12px;
    background: #4579ca;
    border: 1px solid #405eaa;
    padding: 5px 10px;
    border-radius: 3px;
}

.chat-clipboard a:hover {
    text-decoration: none;
    background: #405eaa;
    border: 1px solid #3e539d;
}

.footer-chat input {
    box-shadow: none;
}

.footer-chat a {
    background: #51a251;
    color: #ffffff;
    border: 0px;
}

.footer-chat a:hover {
    background: #499149;
}

/*----------------------------------------------------------------------------------------------detail-left-to-do-list*/
.detail-todolist {
    border-top: 2px solid #3C8DBC;
}

.tools-todolist ul a {
    background: #f7f7f7;
    color: #333333;
    padding: 5px 8px;
}

.todolist-content {
    background: #ECF0F5;
    border-left: 2px solid #cbcfd4;
    margin: 10px 10px;
}

.todolist-content i {
    margin-right: 10px;
}

.todolist-time {
    margin-left: 10px;
    color: #ffffff;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 3px;
}

.footer-left {
    border-top: 1px solid #eeeeee;
}

.footer-left a {
    background: #eeeeee;
    color: #333333;
}

.footer-left a:hover {
    background: #dbdbdb;;
}

/*----------------------------------------------------------------------------------------------detail-left-quick-mail*/
.detail-quickmail {
    border-top: 2px solid #00C0EF;
}

.tools-quickmail a {
    background: #8c8bd7;
    border-color: #7c7bc4;
    color: #ffffff;
}

.tools-quickmail a:hover {
    background: #7c7bc4;
    border-color: #6f6eb5;
    color: #ffffff;
}

.quickmail-content select {
    width: 121px;
}

.text-tools {
    padding: 10px 10px 0px 10px;
}

.text-tools select {
    background: #eeeeee;
    box-shadow: none;
    margin-bottom: 10px;
}

.text-tools a {
    background: #eeeeee;
    box-shadow: none;
    margin-bottom: 10px;
}

.textarea-box textarea {
    width: 96%;
}

/*--------------------------------------------------------------------------------------------------------detail-right*/
.right-title i {
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
}

.right-title span {
    color: #ffffff;
}

/*------------------------------------------------------------------------------------------------------detail-visitor*/
.detail-visitor {
    background: #65A7CD;
}

.tools-right a {
    border: 1px solid #5C96B9;
    background: #5C96B9;
    border-radius: 3px;
    padding: 3px 8px;
    margin: 10px 10px 10px 0px;
    color: #ffffff;
}

.tools-right a:hover {
    border: 1px solid #5b90b6;
    background: #5688ab;
    color: #ffffff;
}

.detail-visitor iframe {
    box-shadow: none;
}

/*------------------------------------------------------------------------------------------------------detail-visitor*/
.detail-sale-graph {
    background: #6CD8D8;
}

.tools-right-sale-graph a {
    border-color: #66A7CD;
    background: #66A7CD;
}

.tools-right-sale-graph a:hover {
    border-color: #619bc1;
    background: #5c91b8;
}

/*------------------------------------------------------------------------------------------------------detail-visitor*/
.detail-calendar {
    background: #00C86C;
}

.tools-right-calendar a {
    border-color: #00a65a;
    background: #00a65a;
}

.tools-right-calendar a:hover {
    border-color: #007d3e;
    background: #008d4c;
}

/*--------------------------------------------------------------------------------------------------------------footer*/
.footer-full {
    background: #222D32;
    padding-left: 230px;
}

.footer-right {
    background: #ffffff;
}

.footer-right p {
    margin: 0px 10px 0px 10px;
}

/*--------------------------------------------------------------------------------------------------------------footer*/



